<ion-header style="background-color: red;">
    <ion-toolbar color="red" style="background: red; top: 60%; height:min-content;">
        <ion-button routerLink="/" fill="outline" color="dark">Home</ion-button>
        <ion-title style="position:relative ; color: black;">Admin Page</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="top: 10%;">
    <ion-card>
        <ion-header>Please upload the desired file here: </ion-header>

        <app-form-upload class="container" style="width:400px">

        </app-form-upload>

    </ion-card>
</ion-content>