.search-icon {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    color: black;
    height: 20px;
    padding: 0px;
    width: 60px;
}

.search-icon:hover>.search-bar {
    width: 420%;
    padding: 0px;
    background: red;
    transition: 0.4s;
    transform: translate(-40%, 0);
}

.search-bar {
    border: none;
    outline: none;
    float: center;
    padding: 0;
    color: black;
    background: rgba(255, 72, 72, 0.397);
    --placeholder-opacity: 100;
    --placeholder-font-weight: 500;
    transition: 0.4s;
    line-height: 30px;
    border-radius: 40px;
    box-shadow: none;
}

.list-style {
    margin: 21%;
}

.search-icon:hover .search-bar {
    // box-shadow: 5px 5px 5px 2px black;
}