.button-home {
    position: absolute;
    left: 5%;
    bottom: 700%;
    margin-bottom: 200px;
    --border-color: rgba(255, 255, 255, 1);
    --color-activated: rgba(255, 255, 255, 1);
    --color: rgba(255, 255, 255, 1);
    --color-hover: rgba(255, 255, 255, 1);
    --background-activated: rgba(255, 255, 255, 0.5);
}

.contactUsButtom {
    position: absolute;
    top: 80%;
}

.button-login {
    overflow: hidden;
    position: absolute;
    right: 5%;
    bottom: 700%;
    margin-bottom: 200px;
    //padding: 10px 20px;
    //background-color: rgba(102, 61, 0, 0.5) //color:light;
}

.contact-us-button {
    overflow: hidden;
    position: absolute;
    right: 5%;
    bottom: 700%;
    margin-bottom: 200px;
    //padding: 10px 20px;
    //background-color: rgba(102, 61, 0, 0.5) //color:light;
}

.searchbar-ion-content {
    position: absolute;
    top: 43%;
    transition: 0.4s ease-in;
}

.searchbar-ion-content:hover {
    transform: translate(0, -30%);
}

.searchbar-ion-content:hover .header {
    transform: translate(0, -50%);
}

.app-list-upload {
    position: absolute;
    top: 13%;
}