<ion-header>
    <ion-toolbar color="primary">
        <ion-title></ion-title>
        <ion-button (click)="reset()" color="dark">Home
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="searchComponentBoolean">
    <app-search-component (courseNameEvent)="receiveCourseName($event)"></app-search-component>
</ion-content>
<ion-content *ngIf="listComponentBoolean">

    <div class="container"  style="width:350px">

        <app-list-upload [pageName]=course></app-list-upload>
            </div>
</ion-content>