<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar class="ion-searchbar" class="ion-text-center" animated placeholder="Course Name" (ionInput)="FilterJSONData($event)" (ionCancel)="onCancel($event)" (autocomplete)="on($event)" color="dark">></ion-searchbar>
    <ion-list *ngIf="isItemAvailable">
        <ion-item colour="success" (click)="selectVal(item.name)" *ngFor="let item of jsonData">
            {{item.name}}
        </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="getDataStandard()">getDataStandard</ion-button>
    <ion-button expand="block" (click)="getDataNative()">getDataNatively</ion-button>
    <ion-button expand="block" (click)="  downloadAndOpenPdf()">  downloadAndOpenPdf</ion-button>
    <ion-list>
        <ion-item button detail lines="insert" *ngFor="let film of data">
            {{film.title}}
        </ion-item>
    </ion-list>
</ion-content>